div.css-183lzff.eyqtai90 {

    background-color: #EEEEEE;
        border: 2px solid #CCCCCC;
        padding: 5% 5% 5% 10%;
        border-radius: 2px;
    }
    div.css-70h0bi.e1tzin5v0{

        background-color: #EEEEEE;
       border: 2px solid #CCCCCC;
       padding: 2% 2% 2% 5%;
       border-radius: 2px;
   }

   div.row-widget.stButton{

    background-color: #EEEEEE;
      padding: 2% 2% 2% 5%;
      margin-top: 30px;
  }
  div.row-widget.stCheckbox{
  
  background-color: #EEEEEE;
      padding: 2% 2% 2% 2%;
      margin-top: 10px;
  
  }
  div.appview-container.css-1wrcr25.egzxvld4{
       background-color: #EEEEEE;
  }
  div.block-container.css-12oz5g7.egzxvld2{
       background-color: #EEEEEE;
       margin-top: 10px;     
  }
  
  
  